:root {
    --primary-black: #3c3c3c;
    --primary-gray: #b9b9b9;
    --primary-blue: #4872f2;
    --primary-red: #E73C3E;

    --dark-gray: #737373;
    --font-stack: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

